@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');


.App {
  text-align: center;
  font-family: 'Urbanist', sans-serif;
  color: #2F3135;
}

.Navbar {
  width: 100%;
  background-color: #FFB933;
    /* font-family: 'Open Sans', sans-serif; */
}

.Navbar-brand {
  font-family: 'Rampart One', cursive;
  font-size: x-large;
  padding: 1em;
}

.Navbar-item {
  padding: 1em;
  text-align: center;
}

.Navbar-item:hover {
  color: #52517f
}
